<!DOCTYPE html>
<html ng-app="mooniart.ubikt">
	<head>
		<meta charset="UTF-8">
		<script src="vistas/js/jquery.js"></script>
		<script src="vistas/js/jquery.validate.js"></script>
		<script src="vistas/js/angular.min.js"></script>
		<script src="vistas/js/angular-cookies.min.js"></script>
		<script src="vistas/js/bootstrap.min.js"></script>
		<script src="vistas/js/app/app.js"></script>
		<script src="vistas/js/app/login/loginController.js"></script>
		<script src="vistas/js/app/login/loginService.js"></script>
		<script src="vistas/js/app/utils/utilsServ.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/estiloGeneral.css"></link>
		<script src="vistas/js/app/directive/esperaDir.js"></script>
		<title>Ubik-T: Login</title>
	</head>
	<body ng-controller="loginCtrl as lc">
		<modal-lapse mostrar="lc.utilsServ.getSHModal()"></modal-lapse>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<a href="index.html"><img id="imgEnc" src="img/header.png"></a>
				</div>
			</div>
			<div class="row text-center mt-5 mb-2">
				<div class="col-lg-12 mb-5 mt-2">
					<h2>Iniciar Sesión</h2>
				</div>
				<div class="col-lg-12 col-sm-12 col-md-12 text-center mt-1 mb-2">
					<input type="text" class="form-control text-center" id="texto-input"  name="user" placeholder="&#128100; Usuario" ng-model="usuario">
				</div>
				<div class="col-lg-12 col-sm-12 col-md-12 text-center mt-1 mb-2">
					<input type="password" class="form-control text-center" id="texto-input"  name="contraseña" placeholder="&#128100; Contraseña" ng-model="pwd">
				</div>
				<div class="col-lg-12 col-sm-12 col-md-12 text-center mt-1 mb-2 elogin" ng-if="lc.shMensaje" >
			 		<span class="form-control text-center">{{lc.mensaje}}</span>	
				</div>
				<div class="col-lg-12 text-center mt-1 mb-2">
					<a id="alumno" class="w-100" href="test.html">&nbsp ¿Eres un alumno? Haz clic aqui &nbsp</a>
				</div>
				<div class="col-lg-12 text-center mt-1 mb-2">
					<input class="btn btn-info" id="botonsuccess" type="button" value="Ingresar" ng-click="lc.ingresa()">
				</div>
			</div>
		</div>
		<div class="modal" id="modalInformacion">
  			<div class="modal-dialog">
    			<div class="modal-content">
      				<div class="modal-header">
        				<h4 class="modal-title">Estatus de la acción</h4>
        				<button type="button" class="close" data-dismiss="modal">&times;</button>
      				</div>
      				<div class="modal-body">
						<p class="text-info text-center texti_4">{{mensaje}}</p>
      				</div>
      				<div class="modal-footer">
      					<button type="button" class="btn btn-success inputBonito" data-dismiss="modal" ng-click="oc.utilsServ.accion(accion)">OK</button>
      				</div>
    			</div>
  			</div>
		</div>
	</body>
</html>