<!DOCTYPE html>
<html lang="es" ng-app="mooniart.ubikt">
	<head>
		<meta charset="UTF-8">
		<script src="js/jquery.js"></script>
		<script src="js/jquery.validate.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/angular-cookies.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular-route.js"></script>
		<script src="js/app/app.js"></script>
		<script src="js/app/admon/admonCtrl.js"></script>
		<script src="js/app/admon/admonServ.js"></script>
		<script src="js/app/utils/utilsServ.js"></script>
		<script src="js/app/directive/esperaDir.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/estiloGeneral.css"></link>
		<link rel="stylesheet" href="css/menu.css"></link>
		<link rel="stylesheet" href="css/administrador.css"></link>
		<title>Ubik-T: Administración</title>
	</head>
	<body ng-controller="admonCtrl as oc">
		<modal-lapse mostrar="lc.utilsServ.getSHModal()"></modal-lapse>
		<input type="text" id="user" style="display: none;">
			<div class="row" id="">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<img id="imgEnc" src="img/header.png">
				</div>
			</div>
			<div class="row"> >
				<div class="navbar col-sm-12 col-md-12 col-lg-12" id="btnMenu">
					<div class="col-sm-4 col-lg-1" >
						<button class="btn text-center w-100 btn-info" ng-click="oc.utilsServ.setshMenu()" >
							||| Menú
						</button>
					</div>
				</div>
				<div class="navbar col-sm-12 col-md-12 col-lg-12"  id="btnMenu1">
						<div class="col-sm-6 col-md-4  col-lg-2  ">
							<input type="button" class="btn text-center w-100" id="init" value="Inicio" ng-click="oc.utilsServ.setOpcMenu('inicio',oc)">
						</div>
						<div class="col-lg-2 col-md-4  col-sm-6">
							<input type="button" class="btn text-center w-100" id="agrupo" value="Agregar usuario" ng-click="oc.utilsServ.setOpcMenu('agUsuario',oc)">
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<input type="button" class="btn text-center w-100" id="res" value="Baja usuario" ng-click="oc.utilsServ.setOpcMenu('bUsuario',oc)">
						</div>
  						<div class="col-lg-2 col-md-4 col-sm-6">
							<input type="button" class="btn text-center w-100" id="cpss" value="Monitoreo" ng-click="oc.utilsServ.setOpcMenu('monitoreo',oc);">
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<input type="button" class="btn text-center w-100" id="cpss" value="Editar cuenta" ng-click="oc.utilsServ.setOpcMenu('ecuenta',oc);">
						</div>
  						<div class="col-lg-2  col-md-4 col-sm-6">
							<input type="button" class="btn text-center w-100" id="sal" value="Salir" ng-click="oc.utilsServ.salir();">
						</div>	
				</div>
				<div class="row" ng-switch="oc.utilsServ.getOpcMenu()" id="cuerpo2">
					<div ng-switch-when="inicio" class="col-sm-12 col-md-12 col-lg-12">
						<!-- Aqui va una imagen del plantel o algo-->
						<img id="logoc" src="img/logo2.0-black.png">
					</div>
					<!-- fin inicio -->
					<!-- agregar usuario -->
					<div ng-switch-when="agUsuario" class="col-sm-12 col-lg-12 mt-2" >
						<label class="titulo">Agregar Usuario</label>
					</div>
					<div ng-switch-when="agUsuario" class="col-sm-12 col-lg-4 mt-2 text-center">
						<input type="text" id="nombreOri" class="inputBonito mt-1 mb-1 w-100" name="user" placeholder="Nombre del usuario" ng-model="oc.nombre">
					</div>
					<div ng-switch-when="agUsuario" class="col-sm-12 col-lg-4 mt-2 text-center">
						<input type="password" id="passwordOri" class="inputBonito mt-1 mb-1 w-100" name="user" placeholder="Escribe la contraseña" ng-model="oc.pss">
					</div>
					<div ng-switch-when="agUsuario" class="col-sm-12 col-lg-4 mt-2 text-center">
						<input type="password" id="passwordOri1" class="inputBonito mt-1 mb-1 w-100" name="user" placeholder="Repite la contraseña" ng-model="oc.pss1"> 
					</div>
					<div ng-switch-when="agUsuario" class="col-sm-12 col-lg-4 mt-2 text-center">
						<select class="custom-select inputBonito mt-1 mb-1" ng-model="oc.rol">
							<option value="orientador" >Orientador</option>
							<option value="admin">Administrador</option>
						</select>
					</div>
					<div class="col-lg-12 col-sm-12 col-md-12 text-center mt-1 mb-2 elogin" ng-if="oc.shMensaje" >
			 			<span class="form-control text-center">{{oc.mensaje}}</span>	
					</div>
					<div ng-switch-when="agUsuario" class="col-sm-12 col-lg-4 mt-2 text-center">
						<input type="button" id="btnGG" class="btnMediano btn btn-info pss mb-3" value="Guardar" ng-click="oc.agregarUsuario()">
					</div>
					<!-- fin agregar usuario -->
					<!-- baja usuario -->
					<div ng-switch-when="bUsuario" class="col-sm-12 col-lg-12 mt-2" >
						<label class="titulo">Baja Usuario</label>
					</div>
					<div ng-switch-when="bUsuario" class="col-sm-12 col-lg-12 mt-2 text-center">
						<select id="listau" class="inputBonito w-100" ng-model="oc.buser">
							<option value="-1">- Selecciona -</option>
							<option ng-repeat="usuario in oc.listaUsuarios" value="{{usuario.id}}">
								{{usuario.nombre}}
							</option>
						</select>
					</div>
					<div ng-switch-when="bUsuario" class="col-sm-12 col-lg-12 mt-2 text-center">
						<input type="button" id="btnBU" class="inputBonito btn btn-info pss mb-3" value="Dar de Baja" ng-click="oc.bajaUsuario()">
					</div>
					<!-- fin baja usuario -->
					<!-- monitoreo -->
					<div ng-switch-when="monitoreo" class="col-sm-12 col-lg-12 mt-2" >
						<label class="titulo">Monitoreo</label>
					</div>
					<div ng-switch-when="monitoreo" id="tablilla" class="col-sm-12 col-lg-12 mt-2" >
						<table id="actividades" class="table">
							<thead>
								<tr style='background-color:#5fd40f; color: white;'>
									<th style='width: 30%'>Actividad</th>
									<th style='width: 30%'>Responsable</th>
									<th style='width: 10%'>Rol</th>
									<th style='width: 10%'>Fecha</th>
									<th style='width: 20%'>IP del cliente</th>
								</tr>
							</thead>
							<tbody id="activity">
								
							</tbody>
						</table>
					</div>
					<!-- fin monitoreo -->
					<!-- editar cuenta -->
				<div ng-switch-when="ecuenta" class="col-sm-12 col-lg-12 mt-2" >
					<label class="titulo">Editar cuenta</label>
				</div>
				<div ng-switch-when="ecuenta" class="col-md-12 col-lg-12 mt-2 text-center">
					<input type="text" id="nombreOri" class="inputBonito mt-1 mb-1" name="user" placeholder="Nombre del orientador" required ng-model="enombre" ng-disabled="true">
				</div>
				<div ng-switch-when="ecuenta" class="col-md-12 col-lg-12 mt-2 text-center" >
					<input type="password" id="passwordOri" class="inputBonito mt-1 mb-1" name="user" placeholder="Escribe la contraseña acutal" required ng-model="oc.epss">
				</div>
				<div ng-switch-when="ecuenta" class="col-md-12 col-lg-12 mt-2 text-center" >
					<input type="password" id="passwordOriNew" class="inputBonito mt-1 mb-1" name="user" placeholder="Escribe la nueva contraseña" required ng-model="oc.epssnew"> 
				</div>
				<div ng-switch-when="ecuenta" class="col-md-12 col-lg-12 mt-2 text-center" >
					<input type="password" id="passwordOriNew1" class="inputBonito mt-1 mb-1" name="user" placeholder="Repite la contraseña" required ng-model="oc.epssnew1">
				</div>
				<div ng-switch-when="ecuenta" class="col-md-12 col-lg-12 mt-2 text-center">
					<input type="button" id="btnGD" class="btn btn-info pss mb-3 inputBonito" value="Guardar" ng-click="oc.editarCuenta()">
				</div>
				<!-- fin editar cuenta -->
				</div>
			</div>
			<div ng-include="'footer.htm'"></div>
		<div class="modal" id="modalInformacion">
  			<div class="modal-dialog">
    			<div class="modal-content">
      				<div class="modal-header">
        				<h4 class="modal-title">Estatus de la acción</h4>
        				<button type="button" class="close" data-dismiss="modal">&times;</button>
      				</div>
      				<div class="modal-body">
						<p class="text-info text-center texti_4">{{mensaje}}</p>
      				</div>
      				<div class="modal-footer">
      					<button type="button" class="btn btn-success inputBonito" data-dismiss="modal" ng-click="oc.utilsServ.accion(accion)">OK</button>
      				</div>
    			</div>
  			</div>
		</div>
	</body>
</html>