<!DOCTYPE html>
<html lang="en" ng-app="mooniart.ubikt">
	<head>
		<meta charset="UTF-8">
		<script src="js/jquery.js"></script>
		<script src="js/jquery.validate.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/angular-cookies.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular-route.js"></script>
		<script src="js/app/app.js"></script>
		<script src="js/app/orientador/orientadorCtrl.js"></script>
		<script src="js/app/orientador/orientadorServ.js"></script>
		<script src="js/app/utils/utilsServ.js"></script>
		<script src="js/canvasjs.min.js"></script>
		<script src="js/app/directive/esperaDir.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/estiloGeneral.css"></link>
		<link rel="stylesheet" href="css/menu.css"></link>
		<link rel="stylesheet" href="css/orientador.css"></link>
		<title>Mooni Art : Ubikt : Orientador</title>
		<script src="js/validar.js"></script>
		<script src="js/menu.js"></script>
		<script src="js/canvasjs.min.js"></script>
	</head>
	<body ng-controller="orientadorCtrl as oc">
		<modal-lapse mostrar="lc.utilsServ.getSHModal()"></modal-lapse>
		<input type="text" name="usuario" id="user" style="display: none;">
			<div class="row" id="">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<img id="imgEnc" src="img/header.png">
				</div>
			</div>
			<div class="row"> 
				<div class="navbar col-sm-12 col-md-12 col-lg-12" id="btnMenu">
					<div class="col-sm-4 col-lg-1" >
						<button class="btn text-center w-100 btn-info" ng-click="oc.utilsServ.setshMenu()" >
							||| Menú
						</button>
					</div>
				</div>
				<div class="navbar col-sm-12 col-md-12 col-lg-12"  id="btnMenu1">			
						<div class="col-sm-6 col-md-4  col-lg-2  ">
							<input type="button" class="btn text-center w-100" id="init" value="Inicio" ng-click="oc.utilsServ.setOpcMenu('inicio',oc)">
						</div>
						<div class="col-lg-2 col-md-4  col-sm-6">
							<input type="button" class="btn text-center w-100" id="agrupo" value="Agregar grupo" ng-click="oc.utilsServ.setOpcMenu('agGrupo',oc)">
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<input type="button" class="btn text-center w-100" id="res" value="Resultados" ng-click="oc.utilsServ.setOpcMenu('resultados',oc)">
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<input type="button" class="btn text-center w-100" id="cpss" value="Reportes" ng-click="oc.utilsServ.setOpcMenu('reportes',oc);">
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<input type="button" class="btn text-center w-100" id="cpss" value="Editar cuenta" ng-click="oc.utilsServ.setOpcMenu('ecuenta',oc);">
						</div>
  						<div class="col-lg-2  col-md-4 col-sm-6">
							<input type="button" class="btn text-center w-100" id="sal" value="Salir" ng-click="oc.utilsServ.salir();">
						</div>	
				</div>
			</div>
			<div class="row" ng-switch="oc.utilsServ.getOpcMenu()" id="cuerpo5"><!-- cuerpo -->
				<!-- inicio -->
				<div ng-switch-when="inicio" class="col-sm-12 col-md-12 col-lg-12 mb-5">
						<!-- Aqui va una imagen del plantel o algo-->
						<img id="logoc" src="img/logo2.0-black.png">
				</div>
				<!-- fin inicio -->
				<!-- agregar grupo -->
				<div ng-switch-when="agGrupo" class="col-md-12 col-lg-12" >
					<input type="text" class="inputBonito mt-3" ng-model="oc.nomg" name="user" placeholder="&#128100; Nombre del grupo">
				</div>
				<div ng-switch-when="agGrupo" class="col-md-8 col-md-8 col-lg-8" >
					<textarea name="alumnos" class="form-control  mt-3 mr-0" rows="10" cols="10" ng-model="oc.listaAlumnos" placeholder="Nombre(s)-Apellido Paterno-ApellidoMaterno-Sexo"></textarea> 
				</div>
				<div ng-switch-when="agGrupo" class="col-md-4 col-md-4 col-lg-4" >
					<button class="btn btn-info " ng-disabled="!oc.btnActivo" ng-click="oc.limpiarCampos()">Limpiar campos</button>
				</div>
				<div ng-switch-when="agGrupo" class="col-md-12 col-md-12 col-lg-12 text-center" >
					<button id="" class="btn btn-success w-50 mt-2 mb-5" ng-click="oc.crearGrupo()" ng-disabled="oc.btnActivo">Guardar</button>
				</div>
				<!-- fin agregar grupo -->
				<!-- resultados -->
				<div ng-switch-when="resultados" class="col-md-12 col-lg-5 text-sm-left text-lg-right ml-2 mt-2 mb-1" >
					<label ><b id="grupoInd" > Seleccionar grupo:</b></label>
				</div>
				<div ng-switch-when="resultados" class="col-md-12 col-lg-4 mt-2 mb-1" >
					<select id="selector" class="form-control" ng-model="oc.group">
						<option value="-1">--- Selecciona ---</option>
						<option ng-repeat="g in oc.listGrupos" value="{{g.id}}" ng-click="oc.getListaAlumnosClave(g.id)">
								{{g.nombre}}
							</option>
					</select>
				</div>
				<div ng-switch-when="resultados" class="col-md-12 col-lg-12 mt-2 mb-5" id="tablilla" >
					<table id="listaG" class="listaG">
						<thead>
							<tr>
								<th>Nombre de alumno</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="al in oc.tblAlumnos">
								<td>{{al.nombre}}</td>
								<td class="text-center"><button class="btn btn-info w-100" ng-click="oc.verResultados(al.id)">Ver Resultados</button></td>
							</tr>
						</tbody>
					</table>
				</div>
					<!-- resultados: grafica -->
					<div ng-switch-when="grafica" class="col-md-6 col-sm-6 col-lg-2 mt-2 mb-2" >
						<input type="button" class="btn  btn-secondary w-50" id="" value="Regresar" ng-click="oc.utilsServ.setOpcMenu('resultados',oc);">
						<button class="btn" ><img src="img/descarga.svg" alt="Descargar">Descargar</button>
					</div>
					<div ng-switch-when="grafica" class="d-lg-none col-md-6 col-sm-6 col-lg-6 mt-2" id="tablilla" >
						<input type="button" class="btn btn-primary w-100" id="" value="Mostrar Identificadores" ng-click="oc.mostrarIndentificadores();">
					</div>
					<div class="col-md-12 col-lg-12 mt-2 grafica mb-5"  >
						<label id="carreraInt" class="texti"></label>
					</div>
					<div  	class="col-md-12 col-lg-8 mt-2 text-center grafica " id="chartContainer"></div>
					<div ng-switch-when="grafica" 	class="col-md-12 col-lg-4 mt-2 text-center grafica tablilla">
						<table class="table w-100"> 
								<thead>
									<tr style='background-color:#5fd40f; color: white;'>
										<th>Identificador</th>
										<th>Area </th>
										<th><button class="btn btn-success d-lg-none text-right" ng-click="oc.mostrarIndentificadores()">X</button></th>
									</tr>
								</thead>
								<tbody>
									<tr class='fisico'><td>1. Calc:</td><td colspan="2"> Calculo</td></tr>
            						<tr class='fisico'><td>2. FQ:</td><td colspan="2">Fisico-Quimica</td></tr>
            						<tr class='fisico'><td>3. Cons:</td><td colspan="2">Construcción</td></tr>
            						<tr class='fisico'><td>4. Tec:</td><td colspan="2">Tecnologica</td></tr>
            						<tr class='quimico'><td>5. GeA:</td><td colspan="2">Geoastronomica</td></tr>
            						<tr class='quimico'><td>6. BioA:</td><td colspan="2">Bioagropecuaria</td></tr>
            						<tr class='quimico'><td>7. BioS:</td><td colspan="2">Biosanitaria</td></tr>
            						<tr class='humanidades'><td>8. AsEd:</td><td colspan="2">Asistencia Educacional</td></tr>
            						<tr class='economico'><td>9. JP:</td><td colspan="2">Juridico-Politica</td></tr>
            						<tr class='economico'><td>10. EA:</td><td colspan="2">Economico Administrativa</td></tr>
            						<tr class='humanidades'><td>11. CS:</td><td colspan="2">Comunicación Social</td></tr>
            						<tr class='humanidades'><td>12. HC:</td><td colspan="2">Humanistica Cultural</td></tr>
            						<tr class='ninguno'><td>13. AP:</td><td colspan="2">Artistico-Plastica</td></tr>
            						<tr class='ninguno'><td>14. AM:</td><td colspan="2">Artistico-Músical</td></tr>
            						<tr class='ninguno'><td>15. LE:</td><td colspan="2">Lenguas Extranjeras</td></tr>
								</tbody>
						</table>
					</div>
					<!-- fin resultados: grafica -->
				<!-- fin resultados -->
				<!-- editar cuenta -->
				<div ng-switch-when="ecuenta" class="col-md-12 col-lg-12 mt-2" >
					<label class="titulo">Editar cuenta</label>
				</div>
				<div ng-switch-when="ecuenta" class="col-md-12 col-lg-12 mt-2 text-center">
					<input type="text" id="nombreOri" class="inputBonito mt-1 mb-1" name="user" placeholder="Nombre del orientador" required ng-model="enombre">
				</div>
				<div ng-switch-when="ecuenta" class="col-md-12 col-lg-12 mt-2 text-center" >
					<input type="password" id="passwordOri" class="inputBonito mt-1 mb-1" name="user" placeholder="Escribe la contraseña acutal" required ng-model="epss">
				</div>
				<div ng-switch-when="ecuenta" class="col-md-12 col-lg-12 mt-2 text-center" >
					<input type="password" id="passwordOriNew" class="inputBonito mt-1 mb-1" name="user" placeholder="Escribe la nueva contraseña" required ng-model="epssnew">
				</div>
				<div ng-switch-when="ecuenta" class="col-md-12 col-lg-12 mt-2 text-center" >
					<input type="password" id="passwordOriNew1" class="inputBonito mt-1 mb-1" name="user" placeholder="Repite la contraseña" required ng-model="epssnew1">
				</div>
				<div ng-switch-when="ecuenta" class="col-md-12 col-lg-12 mt-2 text-center">
					<input type="button" id="btnGD" class="btn btn-info pss mb-3 inputBonito" value="Guardar" ng-click="oc.editarCuenta()">
				</div>
				<!-- fin editar cuenta -->
				<!-- reportes -->
				<div ng-switch-when="reportes" class="col-md-12 col-lg-3 text-sm-left text-lg-right ml-2 mt-3" >
					<label class="texti"><b> Seleccionar Reporte:</b></label>
				</div>
				<div ng-switch-when="reportes" class="col-md-12 col-lg-2 mb-4 mt-3" >
					<select id="selector" class="custom-select" ng-model="oc.repor" ng-change="oc.limpiarCampos()">
						<option value="xgrupo">POR GRUPO</option> <!-- muestra grupos -->
						<option value="xarea">POR ÁREA</option> <!-- muestra areas -->
					</select>
				</div>
				<div ng-switch-when="reportes" ng-if="oc.repor == 'xgrupo'" class="col-md-12 col-lg-2 text-sm-left text-lg-right ml-2 mt-3"  >
					<label class="texti"><b> Grupo:</b></label>
				</div>
				<div ng-switch-when="reportes" ng-if="oc.repor == 'xgrupo'" class="col-md-12 col-lg-4 mb-4 mt-3" >
					<select id="selector" class="form-control" ng-model="oc.group" ng-change="oc.getReporte()">
						<option value="-1">--- Selecciona ---</option>
						<option ng-repeat="g in oc.listGrupos" value="{{g.id}}" ng-click="">
								{{g.nombre}}
							</option>
					</select>
				</div>
				<div ng-switch-when="reportes" ng-if="oc.repor == 'xarea'" class="col-md-12 col-lg-2 text-sm-left text-lg-right ml-2 mt-3"  >
					<label class="texti"><b> Area:</b></label>
				</div>
				<div ng-switch-when="reportes" ng-if="oc.repor == 'xarea'" class="col-md-12 col-lg-4 mb-4 mt-3" >
					<select id="selector" class="form-control" ng-model="oc.area" ng-change="oc.getReporte()">
						<option value="-1">--- Selecciona ---</option>
						<option value="fm">FÍSICO - MATEMÁTICO</option>
						<option value="qb">QUÍMICO - BIÓLOGO</option>
						<option value="ea">ECONÓMICO - ADMINISTRATIVO</option>
						<option value="h">HUMANIDADES</option>
								{{a.nombre}}
							</option> -->
					</select>
				</div>
				<div ng-switch-when="reportes" class="col-md-12 col-lg-12 mb-4 text-center">
					<table class="table table-responsive w-100 text-info">
						<thead>
							<tr>
								<th class="">Nombre Alumno</th>
								<th ng-if="oc.repor == 'xgrupo'" class="text-center" colspan="15">Percentil</th>
								<th ng-if="oc.repor == 'xarea'">Percentil Area: {{oc.nameArea}}</th>
								<th></th>
							</tr>
							<tr ng-if="oc.repor == 'xgrupo'">
								<th>&nbsp</th>
								<th ng-repeat="a in oc.listAreas" class="lead" style="font-size: 50%"><abbr title="{{a.nombre}}">{{a.nombre}}</abbr></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="r in oc.reporte">
								<td>{{r.alumno}}</td>
								<th ng-repeat="a in r.result">{{a.percentil}}</th>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- fin reportes -->
			</div>
			<div ng-include="'footer.htm'"></div>
		<div class="modal" id="modalInformacion">
  			<div class="modal-dialog">
    			<div class="modal-content">
      				<div class="modal-header">
        				<h4 class="modal-title">Estatus de la acción</h4>
        				<button type="button" class="close" data-dismiss="modal">&times;</button>
      				</div>
      				<div class="modal-body">
						<p class="text-info text-center texti_4">{{mensaje}}</p>
      				</div>
      				<div class="modal-footer">
      					<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="oc.utilsServ.accion(accion)">OK</button>
      				</div>
    			</div>
  			</div>
		</div>
	</body>
</html>