/*Agregar usuario*/

#agUsuario{
    width: 50%;
    height: 15%;
    display: none;
    margin-top: 10%;
    margin-left: 25%;
}

/*.btnGG{
    height: 50%;
    width: 30%;
    background-color: #3CB371;
    color: white;
    font-size: 100%,auto;
    margin-left: 55%;
    margin-bottom: 2%;
}*/



/*baja Usuario */
#bUsuario{
    background-color: #F0FFF0;
    width: 50%;
    border: solid .4rem #3CB371;
    display: none;
    margin-top: 10%;
    margin-left: 25%;
}

#monitoreo{
    background-color: #F0FFF0;
    width: 90%;
    height: 90%;
    border: solid .4rem #3CB371;
    display: none;
    margin-top: 2%;
    margin-left: 5%;
   overflow-y: auto
}

#actividades{
    width: 100%;
    text-align: center;
}
#actividades tr:nth-child(odd) {
    background-color:#f2f2f2;
}
#actividades tr:nth-child(even) {
    background-color:#fbfbfb;
}