
html {
    font-family: 'Lato', sans-serif;
    font-size: auto;
}

input[type=radio] {
    border: 0px;
    width: 25%;
    height: 2em;
}

.spiner {
  animation: spiner 1s infinite linear;
  animation-delay: -2s;
}
@keyframes spiner {
  0%  {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}   
}
.btnGrande{
	border: 1px solid #ced4da;
    border-radius: .25rem;
    font-family: inherit;
    font-size: 300%;
    padding: .375rem .75rem;
    vertical-align: text-bottom;
}
.inputGrande{
	border: 1px solid #ced4da;
    border-radius: .25rem;
    font-family: inherit;
    font-size: 400%;
    padding: .375rem .75rem;
    text-align: center;
    height: 20vh;
}
.inputGrande:focus {
    color: #495057;
    font-size: 300%;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    text-align: center;
}

.texti{
	color: #00008b;
	font-size: 100%;
}

#cuerpo4{
		height: 50%!important;
		width: 100%;
		background-color: white;
		margin-top: 0.7%;
		margin-bottom: 0.8%;
		margin-left: 0.5%;
		border: solid .1rem #0000cd;
		opacity: .95;
		/*display: none;*/
}
#cuerpo5{
	width: 98%;
	background-color: white;
	margin-top: 0.7%;
	margin-bottom: 0.8%;
	margin-left: 1.0%;
	border: solid .4rem #0000cd;
	opacity: .95;
}

.titulo{
		color: #00008b;
		font-size: 500%;
		text-align: left;
		/*height: 50%;*/
}
@media (max-width: 999px) { /*Chico*/
a{
	color: black;
	background-color: white;
	text-decoration: none;
	/*opacity: .70;*/
	border-radius: 10px;
	border-color: white;
	text-align: right;
	width: 100%;
}
a:hover{
	color: #272E2E ;
	background-color: white;
	text-decoration: none;
	/*opacity: .70;*/
	border-radius: 10px;
	border-color: white;
	text-align: right;
	width: 100%;
}
.tablilla{
	display: none;
}
#cuerpo2{
	height: 90%;
	width: 98%;
	background-color: white;
	margin-top: 0.7%;
	margin-bottom: 0.8%;
	margin-left: 1.0%;
	border: solid .4rem #0000cd;
	opacity: .95;
}
body{
	/*background-color:  #00008B;*/
	background-image: url("../img/fondoChico.jpg");
	background-size: 100%;
	color: white;
}
#imgEnc{
	margin-top: 0.7%;
	margin-bottom: 0.8%;
	margin-left: 1%;
	height: 100%;
	width: 98%;
	border: solid .1rem #0000cd;
	opacity: .90;
	background-image: 
}
.texti_4{
		color: #00008b;
		font-size: 400%;
}
.texti_1{
	color: #00000b;
	font-size: 300%;
}
.btnMediano{
	border: 1px solid #ced4da;
    border-radius: .25rem;
    font-family: inherit;
    padding: .375rem .75rem;
    /*width: 50%;*/
    height: 5vh;
    font-size: 150%;
}
.inputBonito{
	border: 1px solid #ced4da;
    border-radius: .25rem;
    font-family: inherit;
    padding: .375rem .75rem;
    /*width: 50%;*/
    height: 10vh;
    font-size: 300%;
}
.inputBonito:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
	.pss1{
 		background-color: #4169e1;
 		color: white;
 		border: solid .1rem #0000cd!important;
 		height: 100px;
 		font-size: 200%;
	}
	.pss1:hover{
 		color: snow;
 	}
	.img_dir{
		width: 30%;
		height: 70%;
	}
  .pss{
    width: 100%;
  }
  .pss2{
    width: 100%;
    height: 10vh;
    font-size: 300%
  }
  h2{
	font-size: 500%;
  	color: #ffffff;
  }
  #texto-input{
	height: 70%;
	width: 100%;
	margin-bottom: 10%;
	font-size: 200%;
   }
	#alumno{
		font-size: 150%;
		height: 100%;
		width: 100%;
		margin-left: 45%;
		/*margin-right: 15%;*/
	}
	#botonsuccess{
		height: 150%;
		width: 100%;
		font-size: 200%;
	}
	.elogin{
		/*height: 70%;
		width: 100%;*/
		color: red;
		/*background-color: #800000;*/
		background-color: white;
		font-size: 200%;
	}
	#usuario{
		display: none;
	}
	#btnMenu{
		display: inline-block;
	}
	
	#cuerpo3{
		height: 50%!important;
		width: 100%;
		background-color: white;
		margin-top: 0.7%;
		margin-bottom: 0.8%;
		margin-left: 0.5%;
		border: solid .1rem #0000cd;
		display: none;
	}
}
@media (min-width: 1000px) {
a{
	color: #ffffff;
	text-decoration: none;
}
a:hover{
	color: #DFEAFB;
	text-decoration: none;
}
#cuerpo2{
	height: 60%;
	width: 98%;
	background-color: white;
	margin-top: 0.7%;
	margin-bottom: 0.8%;
	margin-left: 1.0%;
	border: solid .4rem #0000cd;
	opacity: .95;
}
body{
	/*background-color:  #00008B;*/
	background-image: url("../img/fondo2.jpg");
	background-size: 100%;
	color: white;
}
#imgEnc{
	margin-top: 0.7%;
	margin-bottom: 0.8%;
	margin-left: 1%;
	height: 100%;
	width: 98%;
	border: solid .1rem #0000cd;
	opacity: .90;
}
.texti_4{
		color: #00008b;
		font-size: 200%;
}
.texti_1{
	color: #00000b;
	font-size: 150%;
}
.btnMediano{
	border: 1px solid #ced4da;
    border-radius: .25rem;
    font-family: inherit;
    padding: .375rem .75rem;
}
.inputBonito{
	border: 1px solid #ced4da;
    border-radius: .25rem;
    font-family: inherit;
    padding: .375rem .75rem;
    /*width: 50%;*/
}
.inputBonito:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.titulo{
	color: #00008b;
	font-size: 200%;
	text-align: left;
}
  .pss{
    width: 25%;
    align-items:  right!important;
  }
  .pss2{
    width: 25%;
    align-items:  right!important;
  }
  h2{
	font-size: 200%;
  	color: #ffffff;
  }
  #texto-input{
	height: 100%;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	font-size: 100%;
  }
  #alumno{
	font-size: 100%;
	height: 90%, auto;
	width: 50%;
	margin-left: 35%;
	margin-right: 15%;
  }
  #botonsuccess{
		height: 100%;
		width: 50%;
	}
   .elogin{/*
		height: 70%;
		width: 50%;*/
		color: red;
		/*background-color: #800000;*/
		background-color: white;
		font-size: 100%;
	}
	#btnMenu{
		display: none;
	}
	#cuerpo3{
		height: 100%;
		width: 100%;
		background-color: white;
		margin-top: 0.7%;
		margin-bottom: 0.8%;
		margin-left: 0.5%;
		border: solid .1rem #0000cd;
	}
}











#logoc{
	height: 350px;
	width: 50%;
	margin-left: 25%;
}
#cuerpo{
	height: 10%;
	width: 80%;
	background-color: white;
	margin-top: 0.7%;
	margin-left: 10%;
	margin-right: 10%;
	/*margin-bottom: 0.8%;*/
}


#alumnoF{
	height: 90%, auto;
	width: 90%;
	margin-left: 5%;
	background-color: #F0FFF0;
}
.regAl{
	height: 100%, auto;
	width: 30%;
	margin-right: 2%;
	padding: .2rem .1rem .5rem;
	font-size: 100%,auto;
}
.reg{
	height: 90%, auto;
	width: 30%;
	margin-left: 8.5%;
	font-size: 100%,auto;
}
#sexoInd{
	margin-right: 2%;
	color: blue;
}
#grupoInd{
	color: black;
}
.btn__regAl{
	margin-left: 62%;
	margin-top: 1%;
	margin-bottom: 1%;
	height: auto;
	width: 15%;
	background-color: #3CB371;
	color: white;
	font-size: 90%,auto;
	border-radius: 5%;
}
.btn__limpiar{
	margin-left: 2%;
	margin-bottom: 1%;
	height: auto;
	width: 15%;
	background-color: #3CB371;
	color: white;
	font-size: 90%,auto;
	border-radius: 5%;
}
.btn__limpiar:hover {
	background-color: #2E8B57;
}
.btn__regAl:hover {
	background-color: #2E8B57;
}
#preguntas{
	display: none;
	height:50%;
	width: 80%;
	background-color: #F0FFF0;
	margin-top: 0.1%;
	margin-left: 10%;
	margin-right: 2.5%;
	border: solid .4rem #3CB371
}
#pregunta{
	
	padding-top: 1%;
	margin-top: 9%;
	margin-left: 5%;
	white-space:nowrap;
}
#respuesta{
	margin-left: 3%;
}
#guardarRespuesta{
	margin-left: 2%;
	height: 50%, auto;
	width: 10%;
	background-color: #3CB371;
	color: white;
	font-size: 100%,auto;
}



#login{
	border-top: solid .4rem #00008B;
	border: solid .4rem #00008B;
	height: 90%, auto;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	background-color: #0000FF;
}
#contraseña{
	height: 100%, auto;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	padding: .2rem .1rem .5rem;
	font-size: 100%;
}

.btn__form {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}


