/* The navigation bar */
.navbar {
    /*overflow: hidden;*/
    background-color: #0000ff;
    top: 0; /* Position the navbar at the top of the page */
    width: 115%; /* Full width */
    margin-top: 1%;
}

/* Links inside the navbar */
.navbar input {
    float: left;
    display: block;
    background-color: #0000ff;
    border: none;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#usuario{
  color: white;
  float: right;
}
/* Change background on mouse-over */
.navbar input:hover {
    background: #191970;
    color: white;
}

