/*
 Modificar datos
*/
/*
#nomg{
    margin-left: 10%;
    margin-bottom: 1%;
    margin-top: 3%;
    width: 40%;
    height: 30%;
  }*/

#ecuenta{
    width: 50%;
    height: 15%;
    display: none;
    margin-top: 10%;
    margin-left: 25%;
}


/*
Grafica
*/
.fisico{
  background-color:#0000cd; 
  color: white;
}
.quimico{
  background-color:#FF7F50; 
  color: white;
}
.economico{
  background-color:#7FFF00; 
  color: blue;
}
.humanidades{
  background-color:#ff00ff; 
  color: white;
}
.ninguno{
  background-color:black; 
  color: white;
}

#grafica{
  display: none;
  position: relative;
  padding: 0;
  top: 6%;
}
/*#carreraInt{
  margin-top: 1%;
  margin-left: 35%;
  background-color:red; 
  color: white;
}*/
#chartContainer{
  height: 100%;
  max-width: 100%;
}
#identificadores{
  width: 100%;
  height: 100%;
}
#tablaId{
  border: 2px solid green;
  height: 100%;
  width: 100%;
}
#atras{
  border-radius: 30px;
   height: 25px;
    width: 10%;
    background-color:  #5fd40f ;
    color: white;
    font-size: 100%,auto;
    margin-left: 1%;
}
#atras:hover{
  background-color: #46f523;
  height: 30px;
   width: 12%;
}






/*Grafica*/

/*Tabla */

#listaG{
    margin-top: 2%;
    margin-left: 15%;
    border: 2px solid blue;
    max-height: 90%;
    width: 70%;
}

#listaG thead{
    border-color: inherit;
    background-color: blue;
    color: white;
}

#listaG tbody{
  color: black;
}

#listaG input{
    background-color: transparent;
    border: none;
}
#listaG tr{
   width: 100%;
}
#listaG tr:hover{
    background-color: #1e90ff;
}


#tablilla{
   background-color: #fffafa;
   /*width: 80%;*/
   /*height: 90%;*/
   overflow-y: auto;
   /*margin: 1%;*/
}
/* Tabla-fn*/


#selector{
      margin-top: 1%;
     background-color: #f5fffa;
     border: none;
     font-size: 14px;
     height: 30px;
     padding: 5px;
}
#result{
  border: solid .4rem #3CB371;
   display: none;
   margin-top: 2%;
   margin-left: 10%;
   background-color: #F0FFF0;
   width: 80%;
   height: 80%;
}
#agGrupo{
    display: none;

}
#inicio{
    margin-top: 5%;
}